body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#e6dfff,#dff7f2,#ffe6f0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 340px;
    margin: 30px auto;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    text-align: center;
}

.login-box h2{
    color: #6a6a8a;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #f3f1ff;
    border: none;
    color: #444;
    border-radius: 10px;
}

input:focus{
    background: #ebe7ff;
}

button{
    width: 100%;
    margin-top: 10px auto;
    background: #c8f2e6;
    border: none;
    color: #3b5f5b;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;

}

button:hover {
    background: #b6eadc;
}

.error{
    color: #c47a9c;
    font-size: 14px;
}

.dashboard{
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.card {
    width: 180px;
    padding: 20px;
    background: rgba(255,255,255,0.65);
    border-radius: 14px;
    transition: transform 0.2s ease;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #6a6a8a;
}